<div class='login-intro' style='margin:auto;'>
    <div class="upper-ten">
        <H2>{{appTitle}}<br/><span id="author" >{{appAuthor}}</span></H2> 
        <div id="upper-ten-central-box">
            <span *ngFor="let breadCrumb of breadCrumbs" >  <a   *ngIf="breadCrumb.link != ''"
                    [routerLink]="[breadCrumb.link,breadCrumb.params]" 
                            (click)="compareSelected(breadCrumb.params,0)">{{breadCrumb.label}} >>> </a> 
                <span *ngIf="breadCrumb.link == ''">{{breadCrumb.label}}</span>
            </span><br/><div>    {{parentDescripion}}</div>
        
        </div>
        <div id="upper-ten-central-box">
            <input type='button' value='Logout'  (click)='cmsLogout()'>
        </div>
        <div  id="upper-ten-right-box" [innerHTML]="StatsSummary"> </div>
    </div>
    <br/>
   
    <div  class="lower-ninety outerdiv" >
       <div *ngIf="isLeafParent=='true' && imageGroups.length > 0" class="outerdiv" ><!-- have to repeat outerdiv for flex style -->
         <div *ngFor="let grpImag of imageGroups; let i = index;">
          <app-card 
          [cardIndex]="i" 
          (clickedIndex)="compareSelected($event,i)" 
          [imageDetail]="grpImag"
          [cardSelected]="currentCellSelected"></app-card>
     </div>
    
       </div>
        <div *ngFor="let card of currentCardList; let i = index;">
          <app-card 
            [cardIndex]="i" 
            (clickedIndex)="compareSelected($event,i)" 
            [cardInfo]="card"
            [cardSelected]="currentCellSelected"></app-card>
         
       </div>
       <div *ngIf="isLeafParent=='true' && imageGroups.length == 0">EMPTY CONTENT; </div> 
  <!-- ##### Uncomment later for image expansion. Refer to content list of old code - -->
    <div id="modal-container">
        <div id="close-modal" style="margin:0" (click)="closeModal()">&times;</div>
         <div id="pic-container"  *ngIf="selectedImage != null  && selectedImage.imageList != null && selectedImage.imageList.length  == 1">
           <p><img id="pic" *ngIf="selectedImage != null" src="{{selectedImage.imageList[0].image}}"></p>
           <p [innerHTML]="selectedImage.imageList[0].description"></p>
         </div>    
        
        <section id="iterative" *ngIf="selectedImage != null  && selectedImage.imageList != null && selectedImage.imageList.length  > 1"
            >
          <div *ngFor="let imageElement of selectedImage.imageList, let j = index">
            <div id="pic-container" > 
              <img id="pic" *ngIf="imageElement != null" src="{{imageElement.image}}">
              <div [innerHTML]="imageElement.description"></div>
            </div>
          </div>
      
      </section>
      
       
    </div>

    </div>
  </div>