<!-- div *ngIf="userNotLoggedIn; else elseBlock" class='login-intro' style='margin:auto;'-->
<div class='login-intro' style='margin:auto;'>
    <div class="upper-ten">
        <H2>{{appTitle}}<br/><span id="author" >{{appAuthor}}</span></H2> 
        <div id="upper-ten-central-box">
            <input type='text' [(ngModel)]='userId' placeholder='User Name (optional)'>  
            &nbsp;&nbsp; <input type='button' value='Enter'  (click)='cmsLogin()'>
            <br/>
            <input type="checkbox" [(ngModel)]="directLatest"> Takes you direct to my latest sketches
        </div>
    </div>
    <div  class="lower-ninety home" [innerHTML]="appContent"></div>
  </div>