<div 
  class="card"   
  [ngClass]="getCardCSS()" 
 
  (mouseover)="toggleCardState()" (mouseout)="toggleCardState()" (click)="expand()" >
  <div  *ngIf="imageDetail == null;"[routerLink]="[ViewLink,cardInfo.key]">  
    
    <div id="node-card"><h3>{{cardInfo.label}}</h3>{{cardInfo.description}}</div>
  </div>
   <!--- WORKING ON STITCHING OLD IMAGE LOGIC INTO THE NEW CARD TREE- BREAD CRUMB STRUCTURE-->
 <div class="card-image" [ngClass]="selectImageBorder()" *ngIf="imageDetail != null; "   (click)="expand()"  > 
 
 <img  src="{{imageDetail.imageList[0].image}}" [title]="ToolTip" [ngClass]="toggleImageSize()" ><br/>
 <span [innerHTML]="ImageLabel"></span>
 
 </div>
 <div>
  <div class="caption" *ngIf="isLarge" [innerHTML]="imageDetail.imageList[0].description" style="float: right;"> </div>
  
 </div>

</div>