/* You can add global styles to this file, and also import other style files */
.root-frame  {
    position: fixed;
    top:0 ;
    left:0 ;
    width:95%; 
    margin-right: 5px;
    height:95%; 
    padding:5px; 
    background-color: aliceblue;
    border: 4px outset darkblue ;
    border-radius: 7px;
    font-size:1vw;
    overflow-y: auto;
   background-image: linear-gradient(to right, lightgreen, aliceblue, skyblue);
}

.upper-ten {
    height: 20%; 
    display: flex ;
    border: 2px solid slateblue ;
    background-color: aliceblue;
}
.upper-ten > H2 {
    margin-left: 10px;
    color: darkslateblue;
    text-shadow: 1px 1px gray;
}
 #author {
    font-size: smaller;
    font-style: italic;
    margin-left: 20px;
    color: blue;
    text-shadow: 1px 1px gray;
}
#upper-ten-central-box {
    margin:auto;
    border:1px solid aqua;
    background-color: silver;
    padding:5px;
}

.lower-ninety {
    height: 90%;
    border: 2px solid slateblue ;
    background-color: aliceblue;
    font-size: larger;
}
@media screen and (max-width:1028px) {
    .lower-ninety {
        height: auto;
        font-size: x-large;
    }
    .responser {
        width:95%;
    }
    
}