
.right-nav {
    float:right; 
    width:21%; 
    margin-right: 5px;
    height:100%; 
    min-height: 700px;
    padding:5px; 
    background-color: aliceblue;
    border: 4px outset darkblue ;
    border-radius: 7px;
    font-size:1vw;
    overflow-y: auto;
    background-image: linear-gradient(to right, lightgreen, aliceblue, skyblue);
}
