<div 
  class="card"   
  [ngClass]="getCardCSS()" 

  (mouseover)="toggleCardState()" (mouseout)="toggleCardState()" (click)="expand()" >
  <!--div *ngIf="cardInfo.key=='contact'">
    <app-mail-form></app-mail-form>
  </div-->
 
  <div  *ngIf="imageDetail == null;"[routerLink]="[ViewLink,cardInfo.key]">  
    
    <div id="node-card"><h4>{{cardInfo.label}}</h4>{{cardInfo.description}}</div>
    <img id="node-card-image" *ngIf="cardLevelImage != ''" src="{{cardLevelImage}}"    >
  </div>
   <!--- WORKING ON STITCHING OLD IMAGE LOGIC INTO THE NEW CARD TREE- BREAD CRUMB STRUCTURE-->
 <div class="card-image" [ngClass]="selectImageBorder()" *ngIf="imageDetail != null; "   (click)="expand()"  > 
 
 <img  src="{{imageDetail.imageList[0].image}}" [title]="ToolTip" [ngClass]="toggleImageSize()" ><br/>
 <span [innerHTML]="ImageLabel"></span>
 
 </div>
 <div>
  <div class="caption" *ngIf="isLarge" [innerHTML]="imageDetail.imageList[0].description" style="float: right;"> </div>
  <!--app-register-form *ngIf="cardInfo.key=='newuser'"></app-register-form-->
 </div>

</div>