<div> COMING SOON!!
    <div class="container">
        <h2>Send an Email</h2>
        <form (ngSubmit)="onSubmit()" #emailForm="ngForm">
          <div class="form-group">
            <label for="to">To:</label>
            <input type="email" id="to" required [(ngModel)]="email.to" name="to" #to="ngModel" class="form-control" />
            <div *ngIf="to.invalid && (to.dirty || to.touched)" class="alert alert-danger">
              <div *ngIf="to.errors?.['required']">To email is required.</div>
              <div *ngIf="to.errors?.['email']">Invalid email address.</div>
            </div>
          </div>
      
          <div class="form-group">
            <label for="subject">Subject:</label>
            <input type="text" id="subject" required [(ngModel)]="email.subject" name="subject" #subject="ngModel" class="form-control" />
            <div *ngIf="subject.invalid && (subject.dirty || subject.touched)" class="alert alert-danger">
              <div *ngIf="subject.errors?.['required']">Subject is required.</div>
            </div>
          </div>
      
          <div class="form-group">
            <label for="message">Message:</label>
            <textarea id="message" required [(ngModel)]="email.message" name="message" #message="ngModel" class="form-control"></textarea>
            <div *ngIf="message.invalid && (message.dirty || message.touched)" class="alert alert-danger">
              <div *ngIf="message.errors?.['required']">Message is required.</div>
            </div>
          </div>
      
          <button type="submit" class="btn btn-primary" [disabled]="emailForm.invalid">Send</button>
        </form>
      </div>
      
</div>