<div 
  class="card"   
  [ngClass]="toggleCardSize()" 
 
  (mouseover)="toggleCardState()" (mouseout)="toggleCardState()" (click)="expand()" >
  <div  *ngIf="imageDetail == null;"[routerLink]="[ViewLink,cardInfo.key]">  
    
    <div [innerHTML]="cardInfo.label"></div>
  </div>
   <!--- WORKING ON STITCHING OLD IMAGE LOGIC INTO THE NEW CARD TREE- BREAD CRUMB STRUCTURE-->
 <div class="card-image" *ngIf="imageDetail != null;"   (click)="expand()"  > 
 
 <img src="{{imageDetail.imageList[0].image}}" [title]="imageDetail.imageList[0].description" [ngClass]="toggleImageSize()" >
 
 </div>
 <div>
  <div class="caption" *ngIf="isLarge" [innerHTML]="imageDetail.imageList[0].description" style="float: right;"> </div>
  
 </div>

</div>