<div 
  class="card"   
  [ngClass]="toggleCardSize()" 
 
  (mouseover)="toggleCardState()" (mouseout)="toggleCardState()" (click)="expand()" >
  <div [routerLink]="[ViewLink,imageDetail.key]">  
    
    <div [innerHTML]="imageDetail.label"></div>
  </div>
   <!--- WORKING ON STITCHING OLD IMAGE LOGIC INTO THE NEW CARD TREE- BREAD CRUMB STRUCTURE
 <div class="card-image" *ngIf="imageDetail.isLeafParent == true; else isNotLeaf"   (click)="expand()"  > 
 
 <img src="{{imageDetail.imageList[0].image}}" [title]="imageDetail.imageList[0].description" [ngClass]="toggleImageSize()" >
 
 </div>
 <div>
  <div class="caption" *ngIf="isLarge" [innerHTML]="imageDetail.imageList[0].description" style="float: right;"> </div>
  
 </div>

 <ng-template #isNotLeaf>
  <div [routerLink]="[ViewLink,imageDetail.key]">  
    
    <div [innerHTML]="imageDetail.label"></div>
  </div>
 </ng-template>
 -->
</div>
