.outerdiv {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    min-width: 450px;
    overflow: scroll;
   /* background-image: linear-gradient(to bottom, red, orange, #F4C430, yellow, lightgreen, aliceblue, skyblue);*/
}
#modal-container {
    display: none;
    position:fixed ;
    flex-wrap: wrap;
    border: 9px solid gold;
    border-radius: 15px;
    background-color: rgb(248, 248, 255);
    
    left: 0;
    margin:12px;
    margin-top: -15px;
    width: auto;
    height: 100%;
    overflow-y: scroll;
   /*align-items: center;
    justify-content: center;
    */
   
}

#close-modal  {
    position: relative;
    top: 0;
    left: 0;
    
    background-color: white;
    width:35px;
    height:15px;
    font-size:large;
    color:red;
    border: 1px solid red;
}
#mutiple-container {
    overflow-y: scroll;
}
#pic-container,
#text-container {
    border:inset 2px gray ;
    background-color: white;
    align-items: left;
    justify-content: left;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}
#pic-container > p {
    height:100% ;

}
#modalpic  {
    width: 40%;
    height:100%;
    object-fit: contain;
    margin-right: 50px;
    border:2px rgb(25, 80,80) inset;
    float:left ;
}
#modaltext  {
padding:20px;border: 1px solid gray; margin-left:20px;
}

@media screen and (min-width:1029px) {
   
}
@media screen and (max-width:550px) {

    #modal-container {
        top: 225px;
    
        margin:5px;
        padding:2px;
        overflow-y: auto;
    }

#close-modal  {
    
    height:35px;
    font-size:xx-large;
    color:red;
    margin-bottom: 2px;
}
#modalpic {
    width:95% ;
}

#modaltext {
    width:95% ;
}
#pic-container,
#text-container {
    border:inset 2px gray ;
    padding:4px;
    background-color: silver;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 99%;
}
}