<div style="overflow-y: auto;">
    <!-- 
<input type="text" readonly [ngModel]="entityName">
    -->
<input [(ngModel)]="textLines[0]" id="text1"><br/>
<input [(ngModel)]="textLines[1]" id="text2"><br/>
<input [(ngModel)]="textLines[2]" id="text3"><br/>
<input [(ngModel)]="textLines[3]" id="text4"><br/>
<input [(ngModel)]="textLines[4]" id="text5"><br/>
<input [(ngModel)]="textLines[5]" id="text6"><br/>
<input [(ngModel)]="textLines[6]" id="text7"><br/>
<input [(ngModel)]="textLines[7]" id="text7"><br/>
<section *ngIf="larger==true">
    <input [(ngModel)]="textLines[8]" id="text1"><br/>
<input [(ngModel)]="textLines[9]" id="text2"><br/>
<input [(ngModel)]="textLines[10]" id="text3"><br/>
<input [(ngModel)]="textLines[11]" id="text4"><br/>
<input [(ngModel)]="textLines[12]" id="text5"><br/>
<input [(ngModel)]="textLines[13]" id="text6"><br/>
<input [(ngModel)]="textLines[14]" id="text7"><br/>
<input [(ngModel)]="textLines[15]" id="text7"><br/>
</section>
<!-- dynamic doesnt seem to work with ngModel, so hard code as above..
    will debug <div  *ngFor="let textLine of textLines; let i = index">
<input 
            type="text" 
            [id]="getId(i)"> <br/>
</div>
<button (click)="addLine()">Add</button>
-->
<button (click)="completed()">Done</button>
</div>